<td align="center"><table width="33%" border="0" cellspacing="0" cellpadding="3">
<tr>
  <td class="block" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px"><table width="75" align="center" style="background-color:#6BB33C; width: 60px; ">
    <tr>
      <td height="15" align="center" style="font-family:Arial, sans-serif; color:#FFF; font-size:11px;"><a style="color:#fffffe; text-decoration:none;" href="http://cli.linksynergy.com/cli/publisher/links/link_detail.php?creative[]=10001033~banner~3454" class="mainLink" target="_blank"><b>160 x 600</b></a></td>
    </tr>
  </table></td>
</tr>
</table></td>