<tr>
<td valign="top" width="100%" colspan="1" style=" padding:10px; font-size:16; font-family: 'helvetica neue', helvetica, arial, sans-serif;"><table width="100%">
  <tr>
    <td align="center" style="font-family:Helvetica,sans-serif; font-size:14px; padding-left:10px; padding-right:10px; padding-bottom:15px;"><br />
      <img width="25" height="23" src="http://merchant.linksynergy.com/fs/banners/13550/13550_10008226.png" border="0" alt="presentation" /><br />
      <%= copy %>
      <br />
      <img width="23" height="25" src="http://merchant.linksynergy.com/fs/banners/13550/13550_10008225.png" border="0" alt="get link" /><br />
      <br />
      <a style="background-color:#7D1222;color:#ffffff;text-decoration:none;padding:8px 20px;font-weight:bold;" href="http://cli.linksynergy.com/cli/publisher/links/link_detail.php?creative[]=<%= link_id %>~text/email~40902" target="_blank"> GET LINK</a> <br /></td>
    </tr>
  </table></td>
</tr>